<div class="container-fluid p-3 mb-4 bg-white">
  <div class="row g-2 align-items-end">

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-floating">
        <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchTerm" placeholder="Search tasks">
        <label for="searchInput">
          <i class="bi bi-search me-2"></i>Search
        </label>
      </div>
    </div>

    <div class="col-6 col-sm-3 col-md-3 col-lg-3">
      <div class="form-floating">
        <select class="form-select" id="filterSelect" [(ngModel)]="filterBy">
          <option *ngFor="let option of filterOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        <label for="filterSelect">Filter</label>
      </div>
    </div>

    <div class="col-6 col-sm-3 col-md-3 col-lg-3">
      <div class="form-floating">
        <select class="form-select" id="sortSelect" [(ngModel)]="sortBy">
          <option *ngFor="let option of sortOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        <label for="sortSelect">Sort</label>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-2 col-lg-2 d-flex justify-content-center justify-content-md-end">
      <button type="button" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center"
        (click)="onAddTask()" title="Add new task" style="width: 56px; height: 56px;">
        <i class="bi bi-plus fs-4"></i>
      </button>
    </div>

  </div>
</div>